extends layout

block content
    h1= title
    form#formAddUser(name='adduser', method='post',action='/adduser')
        input#inputUserName(type="text", placeholder="username", name="username")
        &nbsp;&nbsp;
        input#inputUserEmail(type="text", placeholder="useremail", name="useremail")
        &nbsp;&nbsp;
        button#btnSubmit(type="submit") submit